<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/memorias-ram"></ion-back-button>
      </ion-buttons>
      <ion-title>Kit de Memoria RAM Kingston FURY Renegade RGB</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Kit de Memoria RAM Kingston FURY Renegade RGB</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="memoria ram kingston fury renegade"
        src="https://media.spdigital.cl/thumbnails/products/bmnbqq4b_89223714_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Kit de Memoria RAM Kingston FURY Renegade RGB</ion-card-title>
        <ion-card-subtitle>$414.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          El Kit de Memoria RAM Kingston FURY Renegade RGB ofrece un rendimiento superior con un diseño elegante y
          llamativo. Con su iluminación RGB personalizable y su alta velocidad, es la opción perfecta para gamers y
          entusiastas que buscan llevar su equipo al siguiente nivel.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>

    </ion-card>
  </ion-content>
</div>