<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>GadgetZone</ion-title>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="https://i.imgur.com/DqZdvet.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Memorias RAM</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-card>
      <img alt="memoriasram" src="https://media.spdigital.cl/thumbnails/products/bmnbqq4b_89223714_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Kit de Memoria RAM Kingston FURY Renegade RGB, DDR5, 48GB (2x24GB), 8000MT/s , CL36,
          1.45V</ion-card-title>
        <ion-card-subtitle>$414.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        El Kit de Memoria RAM Kingston FURY Renegade RGB DDR5 de 48GB (2x24GB) ofrece un rendimiento extremo con una
        velocidad de 8000MT/s y latencia CL36. Ideal para gamers y creadores, cuenta con iluminación RGB personalizable
        y funciona a 1.45V, proporcionando estabilidad y estilo a cualquier setup de alto rendimiento.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img alt="memoriasram" src="https://media.spdigital.cl/thumbnails/products/ngcwptyq_563b09c2_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Memoria Ram DDR4 16GB 3200MT/s XPG SPECTRIX D35G, CL16, UDIMM, 1.35V, RGB
        </ion-card-title>
        <ion-card-subtitle>$38.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Memoria RAM DDR4 XPG SPECTRIX D35G de 16GB ofrece un rendimiento veloz a 3200MT/s con latencia CL16, perfecta
        para gaming y tareas exigentes. Con su diseño UDIMM y voltaje de 1.35V, garantiza eficiencia y estabilidad,
        mientras que la iluminación RGB añade un toque de estilo personalizable a tu equipo.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img alt="memoriasram" src="https://media.spdigital.cl/thumbnails/products/_xiag1e3_7be5c2ae_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Memoria Ram DDR4 16GB 3200MHz Kingston FURY Beast, CL16, DIMM, 1.35V</ion-card-title>
        <ion-card-subtitle>$99.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Memoria RAM DDR4 Kingston FURY Beast de 16GB ofrece un rendimiento confiable a 3200MHz con latencia CL16.
        Diseñada para entusiastas del gaming y la informática, este módulo DIMM funciona a 1.35V, asegurando una
        operación estable y eficiente para maximizar el potencial de tu equipo.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img alt="memoriasram" src="https://media.spdigital.cl/thumbnails/products/r6wg8h5d_806087bc_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Memoria Ram DDR4 8GB 3200MHz Corsair Vengeance RGB RS, CL16, DIMM, PC4-25600,
          1.35V</ion-card-title>
        <ion-card-subtitle>$25.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Memoria RAM DDR4 Corsair Vengeance RGB RS de 8GB ofrece un rendimiento impresionante a 3200MHz con latencia
        CL16. Perfecta para gamers y creadores, este módulo DIMM PC4-25600 combina velocidad y estabilidad con una
        iluminación RGB personalizable, todo funcionando a 1.35V para un rendimiento eficiente y visualmente impactante.
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>