<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/procesadores"></ion-back-button>
      </ion-buttons>
      <ion-title>Procesador AMD Ryzen™ 7 8700G</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Procesador AMD Ryzen™ 7 8700G</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Procesador AMD Ryzen™ 7 8700G"
        src="https://media.spdigital.cl/thumbnails/products/c725qtut_80d80dd3_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Procesador AMD Ryzen™ 7 8700G</ion-card-title>
        <ion-card-subtitle>$514.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          El Procesador AMD Ryzen™ 7 8700G combina núcleos potentes con una arquitectura avanzada, ideal para gaming y
          multitarea intensiva. Con su precio competitivo, es una excelente opción para usuarios exigentes.
        </p>
      </ion-card-content>
      <<ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>

    </ion-card>
  </ion-content>
</div>