ion-header{
    --background: black;
  }
  
  ion-title {
    color:  white(196, 10, 10, 0.779);
    font-family: Roboto;
    font-size: 22px;
    text-align: center;
  }
  .icon{
    width: 60px; 
    height: 100%;
  
  }