<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="../../assets/icon/gadgetzone_logo-removebg-preview.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
   

    <ion-grid>
      <ion-row justify-content-center>
        <ion-col size-md="6">
          <ion-img src="../../assets/icon/gadgetzone_logo-removebg-preview.png" alt="Error de Carga"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center>
        <ion-col size-md="6">
          <ion-title>
            Sobre Nosotros
          </ion-title>
        </ion-col>
      </ion-row>

      

      <ion-row justify-content-center>
        <ion-col size-md="6">
          <ion-text>
            GadgetZone es una tienda en línea especializada en accesorios y componentes para computadores, diseñada para
            ofrecerte la mejor experiencia de compra desde la comodidad de tu hogar. Nos dedicamos a proporcionar una
            amplia gama de productos tecnológicos de alta calidad, teclados y monitores hasta los
            componentes más esenciales para armar o actualizar tu equipo.
          </ion-text>
        </ion-col>

        <ion-row justify-content-center>
          <ion-col size-md="6">
            <ion-text>
              En GadgetZone, entendemos la importancia de contar con la tecnología adecuada para cada necesidad, por eso
              nos enfocamos en ofrecer un catálogo diverso y cuidadosamente seleccionado, que incluye las últimas
              novedades del mercado. Nuestra plataforma en línea está diseñada para ser intuitiva y fácil de usar,
              permitiéndote explorar y comprar los productos que necesitas de manera rápida y segura.
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col size-md="6">
            <ion-text>
              Explora nuestra tienda en línea y descubre cómo GadgetZone puede ayudarte a llevar tu experiencia
              tecnológica al siguiente nivel, desde cualquier lugar de Chile.
            </ion-text>
          </ion-col>
        </ion-row>

      </ion-row>
    </ion-grid>




  </ion-content>