<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" class="ion-padding center-content">
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">

    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="username" 
        name="username" 
        required 
        pattern="^[a-zA-Z]+$" 
        #usernameInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="usernameInput.invalid && usernameInput.touched">
      <p>El nombre de usuario es obligatorio y solo puede contener letras.</p>
    </ion-text>
    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="rut" 
        name="rut" 
        required 
        pattern="^\d{7,8}-[\dkK]$" 
        #rutInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="rutInput.invalid && rutInput.touched">
      <p>Por favor, ingresa un RUT válido (Ej: 12345678-9 o 12345678-K).</p>
    </ion-text>
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required email #emailInput="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="emailInput.invalid && emailInput.touched">
      <p>Por favor, ingresa un correo válido.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="password" 
        name="password" 
        required 
        minlength="8" 
        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
        #passwordInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="passwordInput.invalid && passwordInput.touched">
      <p>La contraseña es obligatoria.</p>
    </ion-text>
    <ion-text color="danger" *ngIf="passwordInput.errors?.['minlength'] && passwordInput.touched">
      <p>La contraseña debe tener al menos 8 caracteres.</p>
    </ion-text>
    <ion-text color="danger" *ngIf="passwordInput.errors?.['pattern'] && passwordInput.touched">
      <p>La contraseña debe tener al menos una letra mayúscula, un número y un carácter especial.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required
        #confirmPasswordInput="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched">
      <p>Debes confirmar tu contraseña.</p>
    </ion-text>

    <ion-text color="danger" *ngIf="!passwordsMatch() && registerForm.submitted">
      <p>Las contraseñas no coinciden</p>
    </ion-text>

    <button mat-raised-button class="custom-register-button" 
      type="submit" 
     [disabled]="!registerForm.form.valid || !passwordsMatch()">
     Registrarse
    </button>
  </form>

</ion-content>