<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/procesadores"></ion-back-button>
      </ion-buttons>
      <ion-title>Procesador AMD Ryzen™ 7 5800XT</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Procesador AMD Ryzen™ 7 5800XT</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Procesador AMD Ryzen™ 7 5800XT"
        src="https://media.spdigital.cl/thumbnails/products/1sew7rqf_79eaae73_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Procesador AMD Ryzen™ 7 5800XT</ion-card-title>
        <ion-card-subtitle>$399.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          El Procesador AMD Ryzen™ 7 5800XT ofrece 8 núcleos y 16 hilos de potencia para un rendimiento excepcional en
          tareas intensivas y gaming. Compatible con socket AM4, es una opción perfecta para mejorar tu experiencia de
          computación.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>

    </ion-card>
  </ion-content>
</div>