<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/gabinetes"></ion-back-button>
      </ion-buttons>
      <ion-title>Gabinete Aerocool Shard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Gabinete Aerocool Shard</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Gabinete Aerocool Shard"
        src="https://media.spdigital.cl/thumbnails/products/_wq4_3_m_0d4a84e2_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Gabinete Gamer Aerocool Shard, Vidrio Templado, Mid-Tower, ATX, m-ATX</ion-card-title>
        <ion-card-subtitle>$89.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          El Gabinete Aerocool Shard presenta un diseño de vidrio templado y una estructura Mid-Tower que es compatible
          con ATX y m-ATX. Su diseño único y ventilación eficiente lo convierten en una opción atractiva para ensamblar
          una PC potente y estilizada.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>