<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/procesadores"></ion-back-button>
      </ion-buttons>
      <ion-title>placa placa-madre-msi-pro-z70-amax</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Placa Madre MSI PRO Z70 A MAX</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <ion-router-link [routerLink]="['/placa-madre-msi-pro-z70-amax']">
        <img alt="Placa Madre MSI PRO Z70 A MAX"
          src="https://media.spdigital.cl/thumbnails/products/mp6q6_y0_7308a861_thumbnail_512.jpg" />
        <ion-card-header>
          <ion-card-title>Placa Madre MSI PRO Z70 A MAX</ion-card-title>
          <ion-card-subtitle>$298.080 CLP</ion-card-subtitle>
        </ion-card-header>
      </ion-router-link>
      <ion-card-content>
        <p>
          La Placa Madre MSI PRO Z70 A MAX está diseñada para ofrecer una estabilidad excepcional y un rendimiento
          potente. Con soporte para las últimas generaciones de procesadores y una variedad de opciones de expansión, es
          una excelente elección para cualquier construcción de PC.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>

    </ion-card>
  </ion-content>
</div>