<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/gabinetes"></ion-back-button>
      </ion-buttons>
      <ion-title>CLIO ATX-700</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">CLIO ATX-700</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Fuente de Poder CLIO ATX-700" src="https://media.spdigital.cl/thumbnails/products/lf6fjhhg_018eb41a_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>CLIO ATX-700</ion-card-title>
        <ion-card-subtitle>$51.040 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          La CLIO ATX-700 es una fuente de poder asequible diseñada para quienes buscan una opción confiable para sus PCs de uso general. Con una potencia de 700W, es capaz de soportar componentes básicos de un sistema de gama baja a media. Su diseño compacto y eficiente hace que sea fácil de instalar en cualquier gabinete estándar.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>
