<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="paginainicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="cerrarSesion()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="dark">
  <div class="profile-header">
    <div class="profile-picture-container">
      <img *ngIf="imagen; else defaultIcon" [src]="imagen" class="profile-icon" />
      <ng-template #defaultIcon>
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
      </ng-template>

      <button class="camera-button" (click)="takePicture()">
        <ion-icon name="camera-outline"></ion-icon>
      </button>
    </div>

    <h2 class="user-name">{{ usuario?.nombre_usuario }}</h2>
    <p class="user-role">{{ usuario?.correo }}</p>

    <ion-buttons>
      <ion-router-link [routerLink]="['/modificarperfil']">
        <ion-button color="light">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Cambiar Nombre de usuario
        </ion-button>
      </ion-router-link>
      <ion-router-link [routerLink]="['/modificarcontrasena']">
        <ion-button color="light">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          Cambiar Contraseña
        </ion-button>
      </ion-router-link>
    </ion-buttons>
  </div>

  <ion-list>
    <ion-item lines="full">
      <ion-note slot="start">{{ usuario?.correo }}</ion-note>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/modificarcorreo']">
          <ion-button fill="outline" color="dark">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
        </ion-router-link>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Botón visible solo para usuarios regulares -->
<ion-buttons *ngIf="!isAdmin">
  <ion-router-link [routerLink]="['/historialcomprausuario']">
    <ion-button expand="full" color="tertiary" class="ion-margin-top">
      <ion-icon slot="start" name="time-outline"></ion-icon>
      Ver Historial de Compras
    </ion-button>
  </ion-router-link>
</ion-buttons>

<!-- Botón visible solo para admin -->
<ion-buttons *ngIf="isAdmin">
  <ion-button expand="full" color="primary" class="ion-margin-top" routerLink="/agregarproducto">
    Agregar Producto
  </ion-button>

  <ion-button expand="full" color="secondary" class="ion-margin-top" routerLink="/modificarproducto">
    Modificar Producto
  </ion-button>

  <ion-button expand="full" color="tertiary" class="ion-margin-top" routerLink="/historialcomprausuario">
    Historial de Ventas
  </ion-button>
</ion-buttons>
