<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>GadgetZone</ion-title>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="https://i.imgur.com/DqZdvet.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>GadgetZone</ion-title>
      <ion-buttons slot="end">
        <img class="icon" src="" alt="logo">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Audifonos Gamer</ion-title>
      </ion-toolbar>
    </ion-header>

    
    <ion-card>
      <img alt="audifonosgamer"
        src="https://media.spdigital.cl/thumbnails/products/sclrc6tz_57cd70db_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Audífonos Gamer Razer Kraken Kitty Quartz, Over-Ear, Bluetooth, Rosado</ion-card-title>
        <ion-card-subtitle>$129.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Los Audífonos Gamer Razer Kraken Kitty Quartz son la elección definitiva para quienes buscan una combinación de
        estilo y rendimiento en sus sesiones de juego. Con un diseño over-ear que garantiza un ajuste cómodo y un
        aislamiento acústico superior, estos audífonos permiten una inmersión total en tus juegos favoritos. Su
        conectividad Bluetooth ofrece libertad de movimiento sin cables, mientras que su vibrante color rosado y
        detalles iluminados añaden un toque único y personalizado a tu configuración. Equipados con sonido de alta
        calidad y un micrófono incorporado para comunicaciones claras, los Razer Kraken Kitty Quartz no solo te permiten
        jugar con estilo, sino también mejorar tu experiencia de juego con comodidad y tecnología avanzada.
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <img alt="audifonosgamer"
        src="https://media.spdigital.cl/thumbnails/products/22c0wthz_45384651_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Audífonos Gamer HyperX Cloud Stinger 2 Wireless, 2.4GHz, DTS Headphone:X</ion-card-title>
        <ion-card-subtitle>$114.150 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Los Audífonos Gamer HyperX Cloud Stinger 2 Wireless son la opción ideal para quienes buscan una experiencia de
        juego sin cables y de alta calidad. Equipados con conectividad inalámbrica de 2.4GHz, ofrecen una conexión
        estable y sin interferencias para una mayor libertad de movimiento. La tecnología DTS Headphone
        proporciona un sonido envolvente preciso, permitiéndote detectar cada detalle en tus juegos y mejorar tu
        inmersión. Su diseño ergonómico y ligero asegura comodidad durante largas sesiones, mientras que las
        almohadillas de espuma viscoelástica y el ajuste ajustable del micrófono garantizan una experiencia
        personalizada y cómoda. Con los HyperX Cloud Stinger 2 Wireless, disfrutarás de una mezcla perfecta de
        rendimiento acústico y comodidad para llevar tu gaming al siguiente nivel.
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <img alt="audifonosgamer"
        src="https://media.spdigital.cl/thumbnails/products/ypolap0x_dcedc470_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Audífonos Gamer HyperX Cloud 3, 3.5mm, USB, Color Negro/Rojo</ion-card-title>
        <ion-card-subtitle>$63.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Los Audífonos Gamer HyperX Cloud 3 son la elección perfecta para jugadores que buscan versatilidad y rendimiento
        en cada sesión. Con conexiones tanto de 3.5mm como USB, estos audífonos ofrecen una compatibilidad amplia con
        diferentes dispositivos, desde PC hasta consolas y móviles. Su diseño elegante en negro y rojo no solo añade un
        toque estilizado a tu configuración, sino que también proporciona una experiencia auditiva superior con sonido
        nítido y graves profundos. El micrófono ajustable asegura una comunicación clara y precisa, mientras que las
        almohadillas de espuma viscoelástica garantizan comodidad durante largas horas de juego. Con los HyperX Cloud 3,
        obtienes un rendimiento excepcional y un diseño atractivo, ideal para gamers que valoran tanto la funcionalidad
        como el estilo.
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <img alt="audifonosgamer"
        src="https://media.spdigital.cl/thumbnails/products/wvwk9x87_25b20800_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Audífonos Gamer Logitech G335, Wired, Auricular Tamaño Completo, Conector 3.5mm, Color
          Negro</ion-card-title>
        <ion-card-subtitle>$59.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Los Audífonos Gamer Logitech G335 son la elección ideal para quienes buscan calidad y confort en un diseño
        elegante. Con un conector de 3.5mm, estos audífonos ofrecen una conexión sólida y compatible con la mayoría de
        los dispositivos, desde PC hasta consolas y móviles. Su diseño de auricular tamaño completo en color negro
        proporciona una cobertura completa y un ajuste cómodo para largas sesiones de juego. Las almohadillas suaves y
        el diadema ajustable garantizan una experiencia de uso ergonómica y personalizada. Con los Logitech G335,
        disfrutarás de un sonido claro y envolvente, junto con un estilo sofisticado que complementa cualquier
        configuración de juego.
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>