<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Audífonos Gamer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Audífonos Gamer</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/razer-kraken-kitty']">
              <img alt="audifonosgamer"
                src="https://media.spdigital.cl/thumbnails/products/sclrc6tz_57cd70db_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Audífonos Gamer Razer Kraken Kitty Quartz</ion-card-title>
                <ion-card-subtitle>$129.990 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/hyperx-cloud-stinger-2']">
              <img alt="audifonosgamer"
                src="https://media.spdigital.cl/thumbnails/products/22c0wthz_45384651_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Audífonos Gamer HyperX Cloud Stinger 2 Wireless</ion-card-title>
                <ion-card-subtitle>$114.150 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/hyperx-cloud-3']">
              <img alt="audifonosgamer"
                src="https://media.spdigital.cl/thumbnails/products/ypolap0x_dcedc470_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Audífonos Gamer HyperX Cloud 3</ion-card-title>
                <ion-card-subtitle>$63.990 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/logitech-g335']">
              <img alt="audifonosgamer"
                src="https://media.spdigital.cl/thumbnails/products/wvwk9x87_25b20800_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Audífonos Gamer Logitech G335</ion-card-title>
                <ion-card-subtitle>$59.990 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
