<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" class="ion-padding center-content">
  <div class="form-container">
    <form (ngSubmit)="onUpdateProfile()" #updateProfileForm="ngForm">
      <ion-item>
        <ion-label position="floating">Nuevo Usuario</ion-label>
        <ion-input type="text" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]+$" minlength="6"
          [(ngModel)]="newUsername" name="newUsername" required #newUsernameInput="ngModel">
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="newUsernameInput.invalid && newUsernameInput.touched">
        <p *ngIf="newUsernameInput.errors?.['pattern']">Solo se permiten letras.</p>
        <p *ngIf="newUsernameInput.errors?.['minlength']">El nombre de usuario debe tener más de 5 caracteres.</p>
        <p *ngIf="newUsernameInput.errors?.['required']">El nombre de usuario es obligatorio.</p>
      </ion-text>

      <ion-button expand="full" type="submit" color="primary" [disabled]="!updateProfileForm.form.valid">
        Actualizar Perfil
      </ion-button>
    </form>
  </div>
</ion-content>
