<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/memorias-ram"></ion-back-button>
      </ion-buttons>
      <ion-title>Memoria Ram DDR4 8GB 3200MHz Corsair Vengeance RGB RS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Memoria Ram DDR4 8GB 3200MHz Corsair Vengeance RGB RS</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Memoria Ram DDR4 8GB 3200MHz Corsair Vengeance RGB RS"
        src="https://media.spdigital.cl/thumbnails/products/r6wg8h5d_806087bc_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Memoria Ram DDR4 8GB 3200MHz Corsair Vengeance</ion-card-title>
        <ion-card-subtitle>$25.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          Corsair Vengeance RGB RS combina rendimiento y estilo con su iluminación RGB. Con una capacidad de 8GB y
          velocidad de 3200MHz, es una opción sólida para gamers y usuarios avanzados.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart('Memoria Ram DDR4 8GB 3200MHz Corsair Vengeance', 25990, 'https://media.spdigital.cl/thumbnails/products/r6wg8h5d_806087bc_thumbnail_512.jpg')">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>
