<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/memorias-ram"></ion-back-button>
      </ion-buttons>
      <ion-title>Memoria Ram DDR4 16GB 3200MHz Kingston FURY Beast</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Memoria Ram DDR4 16GB 3200MHz Kingston FURY Beast</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Memoria Ram DDR4 16GB 3200MHz Kingston FURY Beast"
        src="https://media.spdigital.cl/thumbnails/products/_xiag1e3_7be5c2ae_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Memoria Ram DDR4 16GB 3200MHz Kingston FURY Beast</ion-card-title>
        <ion-card-subtitle>$99.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          La Memoria Kingston FURY Beast combina estilo y rendimiento con su frecuencia de 3200MHz, ideal para potenciar
          cualquier equipo de alto rendimiento, ya sea para gaming o trabajo intensivo.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>