<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/teclados"></ion-back-button>
      </ion-buttons>
      <ion-title>Razer Blackwidow V4</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Razer Blackwidow V4</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Teclado Razer Blackwidow V4"
        src="https://media.spdigital.cl/thumbnails/products/3r2pwux4_8665678f_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Teclado Gamer Razer Blackwidow V4, 75%, Switch Orange, Inglés US, Blanco</ion-card-title>
        <ion-card-subtitle>$239.000 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        El Teclado Gamer Razer Blackwidow V4 es un modelo compacto al 75% con un elegante diseño en blanco. Está
        equipado con switches mecánicos Razer Orange que proporcionan una respuesta táctil y silenciosa, ideal tanto
        para largas sesiones de juego como para escritura precisa. La distribución de teclas en inglés US asegura un uso
        eficiente y familiar. Además, cuenta con retroiluminación personalizable para crear el ambiente de juego
        perfecto. Este teclado combina un rendimiento superior con un diseño estilizado, siendo una excelente opción
        para jugadores exigentes que buscan funcionalidad avanzada y estética.
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>