<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/teclados"></ion-back-button>
      </ion-buttons>
      <ion-title>Razer Blackwidow V4</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Razer Blackwidow V4</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Teclado Razer Blackwidow V4" src="https://media.spdigital.cl/thumbnails/products/3r2pwux4_8665678f_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Teclado Gamer Razer Blackwidow V4, 75%, Switch Orange, Inglés US, Blanco</ion-card-title>
        <ion-card-subtitle>$239.000 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        El Teclado Gamer Razer Blackwidow V4 es la herramienta definitiva para llevar tu experiencia de juego al siguiente nivel. Con un diseño compacto al 75% y una estética en blanco pulcro, este teclado no solo destaca por su apariencia elegante, sino también por su rendimiento superior. Equipado con los switches mecánicos Razer Orange, ofrece una respuesta táctil y silenciosa, ideal para largas sesiones de juego y escritura precisa. La distribución en inglés US garantiza una disposición familiar y eficiente de las teclas. Además, la retroiluminación personalizable permite crear el ambiente perfecto con efectos de iluminación dinámica. Con el Razer Blackwidow V4, obtienes un teclado que combina funcionalidad avanzada y diseño estilizado, perfecto para jugadores exigentes.
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>
