<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/paginainicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingrese sus datos de envío</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" class="ion-padding">
  <form (ngSubmit)="onSubmit()" #purchaseForm="ngForm">
    
    <ion-item>
      <ion-label position="floating">Nombre del que recibe</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="recipientName" 
        name="recipientName" 
        required 
        #recipientNameInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="recipientNameInput.invalid && recipientNameInput.touched">
      <p>Por favor, ingresa el nombre del que recibe</p>
    </ion-text>
    
    <ion-item>
      <ion-label position="floating">Dirección (Calle y número)</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="address" 
        name="address" 
        required 
        #addressInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="addressInput.invalid && addressInput.touched">
      <p>Por favor, ingresa tu dirección.</p>
    </ion-text>

    <ion-button expand="block" (click)="getCurrentLocation()">
      Confirmar dirección
    </ion-button>
    
    <!-- Campo de correo electrónico -->
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="correo" 
        name="email" 
        required 
        email 
        #emailInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="emailInput.invalid && emailInput.touched">
      <p>Por favor, ingresa un correo válido.</p>
    </ion-text>

    <!-- Botón para enviar el formulario (deshabilitado si no se ha confirmado la dirección) -->
    <ion-button expand="block" type="submit" [disabled]="!purchaseForm.form.valid || !direccionConfirmada">
      Ir a pagar
    </ion-button>

  </form>
</ion-content>
