<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/procesadores"></ion-back-button>
      </ion-buttons>
      <ion-title>Procesador Intel® Core™ i5-10400</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Procesador Intel® Core™ i5-10400</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Procesador Intel® Core™ i5-10400"
        src="https://media.spdigital.cl/thumbnails/products/ispzb71k_2e51a77b_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Procesador Intel® Core™ i5-10400</ion-card-title>
        <ion-card-subtitle>$162.770 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          El Intel® Core™ i5-10400 ofrece 6 núcleos con una frecuencia base de 2.9 GHz, ideal para usuarios que buscan
          un equilibrio entre rendimiento y eficiencia en tareas cotidianas y gaming.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart('Procesador Intel® Core™ i5-10400', 162770, 'https://media.spdigital.cl/thumbnails/products/ispzb71k_2e51a77b_thumbnail_512.jpg')">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>
