<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>GadgetZone</ion-title>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="https://i.imgur.com/DqZdvet.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tarjetas de video</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-card>
      <img alt="tarjetasdevideo"
        src="https://media.spdigital.cl/thumbnails/products/z4gsemrj_d8c06639_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Tarjeta de Video ASUS Dual Nvidia® GeForce® RTX™ 4070 SUPER White OC Edition, 12GB
          GDDR6X</ion-card-title>
        <ion-card-subtitle>$899.990CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Tarjeta de Video ASUS Dual Nvidia® GeForce® RTX™ 4070 SUPER White OC Edition cuenta con 12GB de memoria
        GDDR6X, ofreciendo un rendimiento gráfico excepcional para gaming y aplicaciones exigentes. Su diseño elegante
        en blanco y capacidades de overclocking garantizan gráficos fluidos y detallados, ideal para una experiencia
        visual de alta calidad.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img alt="tarjetasdevideo"
        src="https://media.spdigital.cl/thumbnails/products/rwddzmal_161d7a72_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Tarjeta de Video Gigabyte Nvidia® GeForce® RTX™ 4070 Ti SUPER WINDFORCE OC, 16GB GDDR6X,
          256-bit</ion-card-title>
        <ion-card-subtitle>$1.049.990CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Tarjeta de Video Gigabyte Nvidia® GeForce® RTX™ 4070 Ti SUPER WINDFORCE OC ofrece 16GB de memoria GDDR6X y
        una interfaz de 256 bits, brindando un rendimiento gráfico impresionante para gaming y tareas exigentes. Su
        sistema de enfriamiento WINDFORCE OC asegura temperaturas óptimas y estabilidad, ideal para experiencias
        visuales intensas y de alta calidad.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img alt="tarjetasdevideo"
        src="https://media.spdigital.cl/thumbnails/products/tuebyjvo_72ce1e1d_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Tarjeta de Video Zotac Gaming Nvidia® GeForce® RTX™ 4070 Ti Super AMP HOLO, 16GB GDDR6X,
          256-bit</ion-card-title>
        <ion-card-subtitle>$1.063.654 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Tarjeta de Video Zotac Gaming Nvidia® GeForce® RTX™ 4070 Ti Super AMP HOLO cuenta con 16GB de memoria GDDR6X
        y una interfaz de 256 bits, proporcionando un rendimiento gráfico sobresaliente para gaming de alta resolución y
        aplicaciones exigentes. Su diseño AMP HOLO ofrece una estética futurista y eficiente refrigeración, ideal para
        experiencias visuales y de juego inmersivas.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img alt="tarjetasdevideo"
        src="https://media.spdigital.cl/thumbnails/products/ehvdu6al_fedd27dd_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Tarjeta de Video ASUS TUF Gaming Nvidia® GeForce® RTX™ 4080 SUPER, 16GB GDDR6X, OC
          Edition</ion-card-title>
        <ion-card-subtitle>$1.399.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        La Tarjeta de Video ASUS TUF Gaming Nvidia® GeForce® RTX™ 4080 SUPER, con 16GB de memoria GDDR6X y edición OC,
        ofrece un rendimiento gráfico excepcional para los juegos más exigentes y aplicaciones profesionales. Su diseño
        robusto y duradero, combinado con capacidades de overclocking, garantiza gráficos ultra detallados y un
        rendimiento fluido, ideal para experiencias de gaming de alto nivel y tareas intensivas.
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>