<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/memorias-ram"></ion-back-button>
      </ion-buttons>
      <ion-title>Memoria Ram DDR4 16GB 3200MT/s XPG SPECTRIX D35G</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Memoria Ram DDR4 16GB 3200MT/s XPG SPECTRIX D35G</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Memoria Ram DDR4 16GB 3200MT/s XPG SPECTRIX D35G"
        src="https://media.spdigital.cl/thumbnails/products/ngcwptyq_563b09c2_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Memoria Ram DDR4 16GB 3200MT/s XPG SPECTRIX D35G</ion-card-title>
        <ion-card-subtitle>$38.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          La Memoria RAM XPG SPECTRIX D35G ofrece rendimiento y fiabilidad con un diseño compacto y elegante. Es
          perfecta para gamers y profesionales que necesitan velocidad y estabilidad en su sistema.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>

    </ion-card>
  </ion-content>
</div>