<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Eliminar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" class="ion-padding">
  <!-- Seleccionar el producto a eliminar -->
  <ion-item>
    <ion-label>Selecciona un producto</ion-label>
    <ion-select [(ngModel)]="idProductoSeleccionado" placeholder="Seleccionar producto">
      <ion-select-option *ngFor="let prod of productos" [value]="prod.id_producto">
        {{ prod.nombre_producto }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Botón para eliminar el producto -->
  <ion-button expand="full" color="danger" class="ion-margin-top" (click)="eliminarProducto()">
    Eliminar Producto
  </ion-button>
</ion-content>
