<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar slot="primary" placeholder="Buscar productos" color="light" mode="md"
      style="direction: ltr; text-align: left;" (ionInput)="onSearchInput($event)" (ionClear)="onSearchClear()"
      (keyup.enter)="onSearchSubmit()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-router-link [routerLink]="['/carritocompras']">
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-router-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" class="ion-padding center-content">
  <div class="logo-container">
    <img class="icon" src="../../assets/icon/gadgetzone_logo-removebg-preview.png" alt="logo">
  </div>


  <div class="categories-container">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-router-link [routerLink]="['/gabinetes']">
            <div class="category-circle">
              <img src="https://media.spdigital.cl/thumbnails/products/_wq4_3_m_0d4a84e2_thumbnail_512.jpg"
                alt="Gabinetes">
            </div>
            <p>Gabinetes</p>
          </ion-router-link>
        </ion-col>

        <ion-col size="4">
          <ion-router-link [routerLink]="['/teclados']">
            <div class="category-circle">
              <img src="https://media.spdigital.cl/thumbnails/products/ppwci9lq_50a0c365_thumbnail_512.jpg"
                alt="Teclados">
            </div>
            <p>Teclados</p>
          </ion-router-link>
        </ion-col>

        <ion-col size="4">
          <ion-router-link [routerLink]="['/audifonosgamer']">
            <div class="category-circle">
              <img src="https://media.spdigital.cl/thumbnails/products/sclrc6tz_57cd70db_thumbnail_512.jpg"
                alt="Audífonos Gamer">
            </div>
            <p>Audífonos Gamer</p>
          </ion-router-link>
        </ion-col>

        <ion-col size="4">
          <ion-router-link [routerLink]="['/placasmadre']">
            <div class="category-circle">
              <img src="https://media.spdigital.cl/thumbnails/products/udt3fqxu_27f2e082_thumbnail_512.jpg"
                alt="Placas Madre">
            </div>
            <p>Placas Madre</p>
          </ion-router-link>
        </ion-col>

        <ion-col size="4">
          <ion-router-link [routerLink]="['/fuentesdepoder']">
            <div class="category-circle">
              <img src="https://media.spdigital.cl/thumbnails/products/lf6fjhhg_018eb41a_thumbnail_512.png"
                alt="Fuentes de Poder">
            </div>
            <p>Fuentes de Poder</p>
          </ion-router-link>
        </ion-col>

        <ion-col size="4">
          <ion-router-link [routerLink]="['/memoriasram']">
            <div class="category-circle">
              <img src="https://media.spdigital.cl/thumbnails/products/bmnbqq4b_89223714_thumbnail_512.png"
                alt="Memorias RAM">
            </div>
            <p>Memorias RAM</p>
          </ion-router-link>
        </ion-col>

        <ion-col size="4">
          <ion-router-link [routerLink]="['/procesadores']">
            <div class="category-circle">
              <img src="https://media.spdigital.cl/thumbnails/products/ispzb71k_2e51a77b_thumbnail_512.jpg"
                alt="Procesadores">
            </div>
            <p>Procesadores</p>
          </ion-router-link>
        </ion-col>

        <ion-col size="4">
          <ion-router-link [routerLink]="['/tarjetasdevideo']">
            <div class="category-circle">
              <img src="https://media.spdigital.cl/thumbnails/products/z4gsemrj_d8c06639_thumbnail_512.png"
                alt="Tarjetas de Video">
            </div>
            <p>Tarjetas de Video</p>
          </ion-router-link>
        </ion-col>

        <ion-col size="4">
          <ion-router-link [routerLink]="['/monitores']">
            <div class="category-circle">
              <img src="https://media.spdigital.cl/thumbnails/products/tvlpbdac_aa836e31_thumbnail_512.jpg"
                alt="Monitores">
            </div>
            <p>Monitores</p>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-footer>
      <ion-grid>
        <ion-row class="footer-icons">
          <ion-col size="3">
            <ion-button href="https://twitter.com/" target="_blank" fill="clear">
              <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button href="https://www.instagram.com/" target="_blank" fill="clear">
              <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button href="https://wa.me/" target="_blank" fill="clear">
              <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button href="https://www.facebook.com/" target="_blank" fill="clear">
              <ion-icon name="logo-facebook" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- Mostrar el valor del dólar -->
        <ion-row class="footer-dollar">
          <ion-col text-center>
            <ion-text color="light" *ngIf="dolarValue">
              Valor del dólar hoy: {{ dolarValue | number:'1.2-2' }} CLP
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </div>
  
</ion-content>