<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-router-link [routerLink]="['/carritocompras']">
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-router-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" class="ion-padding center-content">
  <div class="logo-container">
    <img class="icon" src="../../assets/icon/gadgetzone_logo-removebg-preview.png" alt="logo">
  </div>

  <div class="categories-container">
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let category of categories">
          <div (click)="irDetalleCategoria(category.id_categoria)">
            <div class="category-circle">
              <img [src]="category.imagen" [alt]="category.nombre_categoria">
            </div>
            <p>{{ category.nombre_categoria }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
