<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar 
      slot="primary" 
      placeholder="Buscar productos" 
      color="light" 
      mode="md"
      style="direction: ltr; text-align: left;"
      (ionInput)="onSearchInput($event)" 
      (ionClear)="onSearchClear()"
      (keyup.enter)="onSearchSubmit()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-router-link [routerLink]="['/paginainicio']">
        <img class="icon" src="../../assets/icon/gadgetzone_logo-removebg-preview.png" alt="logo">
      </ion-router-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
