<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tarjetas-de-video"></ion-back-button>
      </ion-buttons>
      <ion-title>ASUS TUF Gaming Nvidia® GeForce® RTX™ 4080 SUPER</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">ASUS TUF Gaming Nvidia® GeForce® RTX™ 4080 SUPER</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Tarjeta de Video ASUS TUF Gaming Nvidia® GeForce® RTX™ 4080 SUPER"
        src="https://media.spdigital.cl/thumbnails/products/ehvdu6al_fedd27dd_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>ASUS TUF Gaming Nvidia® GeForce® RTX™ 4080 SUPER</ion-card-title>
        <ion-card-subtitle>$1.399.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          La ASUS TUF Gaming Nvidia® GeForce® RTX™ 4080 SUPER combina un rendimiento masivo con 16GB de GDDR6X y una
          construcción duradera, ideal para gamers y creadores que exigen lo mejor.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>

    </ion-card>
  </ion-content>
</div>