ion-content {
    --background: #f2f2f2; /* Fondo claro para diferenciar la sección de administración */
  }
  
  ion-select {
    margin-bottom: 20px;
  }
  
  form {
    ion-item {
      margin-bottom: 15px;
    }
    
    ion-button {
      margin-top: 20px;
    }
  }
  