<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="../../assets/icon/gadgetzone_logo-removebg-preview.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Monitores</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" color="dark" class="ion-padding">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Monitores</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="6">
            <ion-card>
              <ion-router-link [routerLink]="['/monitor-gamer-samsung-odyssey-g6']">
                <img alt="Monitor Gamer Samsung Odyssey G6, 32 pulgadas WQHD, 240Hz, FreeSync Premium Pro, DisplayHDR
                600" src="https://media.spdigital.cl/thumbnails/products/fqqvtub3_0cac7e5a_thumbnail_512.jpg" />
                <ion-card-header>
                  <ion-card-title>Monitor Gamer Samsung Odyssey G6, 32" </ion-card-title>
                  <ion-card-subtitle>$599.000 CLP</ion-card-subtitle>
                </ion-card-header>
              </ion-router-link>
              <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
            </ion-card>
          </ion-col>

          <ion-col size="6" size-md="6">
            <ion-card>
              <ion-router-link [routerLink]="['/monitor-ultrawide-curvo-lg']">
                <img alt="Monitor Ultrawide Curvo LG 34MP65C-B, Panel VA, 3440 x 1440, 160 hz, 1ms, HDR10, FreeSync
                Premium" src="https://media.spdigital.cl/thumbnails/products/jyho6xu9_78536bc0_thumbnail_512.jpg" />
                <ion-card-header>
                  <ion-card-title> Monitor Ultrawide Curvo LG 34MP65C-B,
                  </ion-card-title>
                  <ion-card-subtitle>$470.750 CLP</ion-card-subtitle>
                </ion-card-header>
              </ion-router-link>
              <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" size-md="6">
            <ion-card>
              <ion-router-link [routerLink]="['/monitor-gamer-curvo-samsung-odyssey-g95-c-49']">
                <img alt="Monitor Gamer Curvo Samsung Odyssey G95C 49”, QHD, Panel VA, 240Hz, 5120x1440"
                  src="https://media.spdigital.cl/thumbnails/products/tvlpbdac_aa836e31_thumbnail_512.jpg" />
                <ion-card-header>
                  <ion-card-title> Monitor Gamer Curvo Samsung Odyssey G95C 49”
                  </ion-card-title>
                  <ion-card-subtitle>$991.250</ion-card-subtitle>
                </ion-card-header>
              </ion-router-link>
              <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
            </ion-card>
          </ion-col>

          <ion-col size="6" size-md="6">
            <ion-card>
              <ion-router-link [routerLink]="['/monitor-gamer-curvo-msi-49']">
                <img alt="Monitor Gamer Curvo MSI 49 pulgadas MPG 491CQP QD-OLED, 0.03ms, 144Hz, DP, HDMI, DisplayHDR, Curve
                1800R" src="https://media.spdigital.cl/thumbnails/products/pbgyco0j_7ae2c79b_thumbnail_512.jpg" />
                <ion-card-header>
                  <ion-card-title> Monitor Gamer Curvo MSI 49"
                  </ion-card-title>
                  <ion-card-subtitle>$1.257.180 CLP</ion-card-subtitle>
                </ion-card-header>
              </ion-router-link>
              <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>