<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/audifonos-gamer"></ion-back-button>
      </ion-buttons>
      <ion-title>HyperX Cloud 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">HyperX Cloud 3</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="audifonosgamer"
        src="https://media.spdigital.cl/thumbnails/products/ypolap0x_dcedc470_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>HyperX Cloud 3</ion-card-title>
        <ion-card-subtitle>$63.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          Los Audífonos Gamer HyperX Cloud 3 ofrecen versatilidad con conexiones de 3.5mm y USB. Su diseño elegante en
          negro y rojo garantiza un ajuste cómodo y una experiencia auditiva superior con sonido nítido y graves
          profundos. Equipados con un micrófono ajustable y almohadillas de espuma viscoelástica, estos audífonos son
          ideales para largas sesiones de juego, proporcionando tanto estilo como rendimiento.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart('HyperX Cloud 3', 63990, 'https://media.spdigital.cl/thumbnails/products/ypolap0x_dcedc470_thumbnail_512.jpg')">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>
