<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/gabinetes"></ion-back-button>
      </ion-buttons>
      <ion-title>monitor ultrawide curvo LG"</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">monitor ultrawide curvo LG</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Monitor Ultrawide Curvo LG 34MP65C-B, Panel VA, 3440 x 1440, 160 hz, 1ms, HDR10, FreeSync Premium"
        src="https://media.spdigital.cl/thumbnails/products/jyho6xu9_78536bc0_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Monitor Ultrawide Curvo LG 34MP65C-B</ion-card-title>
        <ion-card-subtitle>$470.750 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          Amplía tu espacio de trabajo y experiencia de juego con el monitor LG Ultrawide Curvo de 34", con resolución
          3440 x 1440, frecuencia de 160Hz, 1ms de tiempo de respuesta, HDR10 y FreeSync Premium.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>