<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" class="ion-padding center-content">
  <form (ngSubmit)="onForward()" *ngIf="!tokenEnviado">
    <ion-item>
      <ion-label position="floating">Ingresa tu correo</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required email #emailInput="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="emailInput.invalid && emailInput.touched">
      <p>Por favor, ingresa un correo válido.</p>
    </ion-text>
    <ion-button expand="full" color="primary" type="submit" [disabled]="!email">Enviar Código</ion-button>
  </form>

  <form (ngSubmit)="onVerify()" *ngIf="tokenEnviado">
    <ion-item>
      <ion-label position="floating">Ingresa el código</ion-label>
      <ion-input type="text" [(ngModel)]="inputToken" name="inputToken" required></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" type="submit">Verificar</ion-button>
  </form>
</ion-content>