<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/teclados"></ion-back-button>
      </ion-buttons>
      <ion-title>Logitech G213 Prodigy</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Logitech G213 Prodigy</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Teclado Logitech G213 Prodigy" src="https://media.spdigital.cl/thumbnails/products/ppwci9lq_50a0c365_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Teclado Gamer LOGITECH G213 Prodigy Led RGB, Inglés</ion-card-title>
        <ion-card-subtitle>$53.780 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        El Teclado Gamer Logitech G213 Prodigy es la herramienta perfecta para mejorar tu experiencia de juego con estilo y funcionalidad. Equipado con retroiluminación LED RGB, te permite personalizar tu configuración con una amplia gama de colores y efectos para crear un ambiente único. Su diseño en inglés proporciona una disposición de teclas eficiente y cómoda, ideal para sesiones prolongadas de juego y trabajo. Además, el teclado cuenta con teclas de membrana resistentes y silenciosas, que ofrecen una respuesta rápida y precisa. Con el Logitech G213 Prodigy, disfrutarás de un teclado que combina rendimiento confiable y una estética vibrante, elevando tu experiencia de gaming a nuevos niveles.
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>
