<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/teclados"></ion-back-button>
      </ion-buttons>
      <ion-title>Cougar Attack X3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Cougar Attack X3</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Teclado Cougar Attack X3"
        src="https://media.spdigital.cl/thumbnails/products/zwy4s9lw_57966fd8_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Teclado Gamer Cougar Attack X3, RGB, Mecánico, Reposa-Muñecas, Black, Inglés</ion-card-title>
        <ion-card-subtitle>$95.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        El Teclado Gamer Cougar Attack X3 es la opción ideal para quienes buscan un teclado mecánico con un rendimiento
        excepcional y un estilo vibrante. Equipado con retroiluminación RGB completamente personalizable, te permite
        crear un ambiente de juego único con efectos de iluminación dinámica. Su diseño ergonómico incluye un
        reposa-muñecas acolchado que brinda comodidad durante largas sesiones de juego. La construcción robusta en negro
        y la distribución en inglés garantizan una experiencia de escritura precisa y duradera. Con el Cougar Attack X3,
        obtienes un teclado que combina funcionalidad avanzada, confort y un estilo llamativo, perfecto para elevar tu
        configuración de gaming al siguiente nivel.
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>

    </ion-card>
  </ion-content>
</div>