<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>GadgetZone</ion-title>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="https://i.imgur.com/DqZdvet.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>GadgetZone</ion-title>
      <ion-buttons slot="end">
        <img class="icon" src="" alt="logo">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Placas madre</ion-title>
      </ion-toolbar>
    </ion-header>

    
    <ion-card>
      <img alt="placasmadre" src="https://media.spdigital.cl/thumbnails/products/udt3fqxu_27f2e082_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Placa Madre MSI A520M-A PRO, Socket AM4, 2xDDR4, 1xM.2, micro-ATX</ion-card-title>
        <ion-card-subtitle>$61.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Placa Madre MSI A520M-A PRO es la base perfecta para construir una PC eficiente y confiable. Compatible con
        procesadores AMD con socket AM4, esta placa micro-ATX es ideal para sistemas compactos sin sacrificar
        rendimiento. Cuenta con dos ranuras DDR4 para expandir la memoria RAM hasta 64GB, asegurando una respuesta
        rápida y fluida en multitareas y juegos. Además, incluye una ranura M.2 para almacenamiento ultrarrápido,
        mejorando los tiempos de carga y el rendimiento general del sistema. Su diseño robusto y características
        avanzadas, como el soporte para componentes de última generación, hacen de la MSI A520M-A PRO una excelente
        opción para usuarios que buscan calidad y versatilidad en su próximo proyecto de PC.
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <img alt="placasmadre" src="https://media.spdigital.cl/thumbnails/products/yb0mzi8o_57a6a515_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Placa Madre Gigabyte Z790 AORUS ELITE AX, LGA 1700, 4x DDR5, ATX</ion-card-title>
        <ion-card-subtitle>$342.090 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Placa Madre Gigabyte Z790 AORUS ELITE AX es una opción premium para quienes buscan maximizar el rendimiento
        de su PC. Diseñada para procesadores Intel con socket LGA 1700, esta placa ATX ofrece compatibilidad con la
        última generación de memorias DDR5, permitiendo velocidades y capacidades excepcionales que potencian tanto el
        gaming como el trabajo profesional. Con conectividad Wi-Fi 6 y Ethernet de alta velocidad, estarás siempre a la
        vanguardia de la tecnología inalámbrica y de red. Además, cuenta con múltiples ranuras PCIe 5.0 para tarjetas
        gráficas y almacenamiento ultrarrápido, asegurando una expansión futura sin límites. Con un diseño robusto,
        refrigeración avanzada y características de alto rendimiento, la Gigabyte Z790 AORUS ELITE AX es la elección
        perfecta para construir un sistema potente y preparado para el futuro.
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <img alt="placasmadre" src="https://media.spdigital.cl/thumbnails/products/mp6q6_y0_7308a861_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title> Placa Madre MSI PRO Z790-A MAX WIFI, LGA1700 Socket, ATX, DDR5-7800+MHz</ion-card-title>
        <ion-card-subtitle>$298.080 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Placa Madre MSI PRO Z790-A MAX WIFI es la solución ideal para quienes buscan un equilibrio perfecto entre
        rendimiento y estabilidad en su PC. Compatible con procesadores Intel de última generación y equipada con un
        socket LGA 1700, esta placa ATX soporta memorias DDR5 de alta velocidad, alcanzando más de 7800 MHz para ofrecer
        un rendimiento superior en aplicaciones exigentes y juegos intensos. Su conectividad Wi-Fi integrada asegura una
        conexión rápida y estable, eliminando la necesidad de cables adicionales. Además, cuenta con múltiples ranuras
        PCIe 5.0, preparadas para las tarjetas gráficas y unidades de almacenamiento más avanzadas. Con un diseño
        robusto y características enfocadas en la eficiencia y el rendimiento, la MSI PRO Z790-A MAX WIFI es la base
        perfecta para construir una PC potente y preparada para el futuro.
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <img alt="placasmadre" src="https://media.spdigital.cl/thumbnails/products/pii2vjbr_7316916c_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Placa Madre Gigabyte Z790 UD, Socket LGA1700, DDR5, USB-C Gen1, USB 3.2, ATX</ion-card-title>
        <ion-card-subtitle>$274.880 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        La Placa Madre Gigabyte Z790 UD es una excelente elección para quienes buscan construir una PC de alto
        rendimiento con una base sólida y confiable. Diseñada para soportar procesadores Intel de última generación con
        socket LGA1700, esta placa ATX es compatible con memorias DDR5, lo que permite velocidades y capacidades
        mejoradas para un rendimiento óptimo en tareas intensivas y gaming avanzado. Además, cuenta con una amplia
        conectividad, incluyendo puertos USB-C Gen1 y USB 3.2, que aseguran transferencias de datos rápidas y
        compatibilidad con los dispositivos más modernos. Su diseño robusto y características avanzadas hacen de la
        Gigabyte Z790 UD una opción ideal para usuarios que buscan fiabilidad y potencia en su próximo proyecto de PC.
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>