.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

form {
  width: 100%;
  max-width: 400px; 
}
.extra-links {
  margin-top: 16px;
}

.extra-links ion-text {
  display: block;
  margin-top: 8px;
  color: var(--ion-color-primary);
}
.custom-login-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: white;

  &:disabled {
    background-color: #c0c0c0;
    color: #6c757d;
  }
}