.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

form {
  width: 100%;
  max-width: 400px; 
}
.extra-links {
  text-align: center;
  margin-top: 16px;
}

.extra-links ion-text {
  display: block;
  margin-top: 8px;
  color: var(--ion-color-primary);
}
