<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/gabinetes"></ion-back-button>
      </ion-buttons>
      <ion-title>Gabinete Kolink Void RGB</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Gabinete Kolink Void RGB</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Gabinete Kolink Void"
        src="https://media.spdigital.cl/thumbnails/products/6h2lh1by_22f3ee6b_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Gabinete Gamer Kolink Void RGB, Vidrio Templado, Mid Tower, ATX, Mini-ATX, Mini-ITX, Color blanco</ion-card-title>
        <ion-card-subtitle>$49.570 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          El Gabinete Kolink Void RGB ofrece un diseño atractivo con iluminación RGB y paneles de vidrio templado. Su configuración Mid Tower es compatible con placas base ATX, Mini-ATX y Mini-ITX, y su color blanco lo hace destacar en cualquier configuración de PC. Es ideal para quienes buscan estética y funcionalidad.
        </p>
      </ion-card-content>
      <!-- Botón para añadir al carrito -->
      <ion-button expand="full" color="primary" (click)="addToCart('Gabinete Kolink Void RGB', 49570, 'https://media.spdigital.cl/thumbnails/products/6h2lh1by_22f3ee6b_thumbnail_512.jpg')">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>
