<ion-app>
  <ion-menu-toggle>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <ion-list>
          <ion-item routerLink="/paginainicio">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item routerLink="/perfil">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Ver perfil</ion-label>
          </ion-item>
          <ion-item routerLink="/sobrenosotros">
            <ion-icon name="laptop-outline" slot="start"></ion-icon>
            <ion-label>Sobre nosotros</ion-label>
          </ion-item>
        </ion-list>
       
        <ion-item-divider class="divider-title">
          Categorías
        </ion-item-divider>
        
        <ion-list>
          <ion-item *ngFor="let category of categories" (click)="irDetalleCategoria(category.nombre_categoria)">
            <ion-icon name="cube-outline" slot="start"></ion-icon>
            <ion-label>{{ category.nombre_categoria }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-menu-toggle>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
