<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="../../assets/icon/gadgetzone_logo-removebg-preview.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Procesadores</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/procesador-amd-ryzen7-5800-xt']">
              <img alt="Procesador AMD Ryzen™ 7 5800XT, 8 Núcleas, 16 Hilos, AM4"
                src="https://media.spdigital.cl/thumbnails/products/1sew7rqf_79eaae73_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Procesador AMD Ryzen™ 7 5800XT</ion-card-title>
                <ion-card-subtitle>$399.990 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary" (click)="addToCart('Procesador AMD Ryzen™ 7 5800XT', 399990, 'https://media.spdigital.cl/thumbnails/products/1sew7rqf_79eaae73_thumbnail_512.jpg')">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/procesador-intel-core-i5-10400']">
              <img alt="Procesador Intel® Core™ i5-10400 6-Core 2.9 GHz"
                src="https://media.spdigital.cl/thumbnails/products/ispzb71k_2e51a77b_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Procesador Intel® Core™ i5-10400</ion-card-title>
                <ion-card-subtitle>$162.770 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary" (click)="addToCart('Procesador Intel® Core™ i5-10400', 162770, 'https://media.spdigital.cl/thumbnails/products/ispzb71k_2e51a77b_thumbnail_512.jpg')">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/procesador-intel-core-i9-14900']">
              <img alt="Procesador Intel® Core™ i9-14900"
                src="https://media.spdigital.cl/thumbnails/products/jyc8ynv8_f836da9b_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Procesador Intel® Core™ i9-14900</ion-card-title>
                <ion-card-subtitle>$914.560 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary" (click)="addToCart('Procesador Intel® Core™ i9-14900', 914560, 'https://media.spdigital.cl/thumbnails/products/jyc8ynv8_f836da9b_thumbnail_512.jpg')">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/procesador-amd-ryzen7-8700-g']">
              <img alt="Procesador AMD Ryzen™ 7 8700G"
                src="https://media.spdigital.cl/thumbnails/products/c725qtut_80d80dd3_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Procesador AMD Ryzen™ 7 8700G</ion-card-title>
                <ion-card-subtitle>$514.990 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary" (click)="addToCart('Procesador AMD Ryzen™ 7 8700G', 514990, 'https://media.spdigital.cl/thumbnails/products/c725qtut_80d80dd3_thumbnail_512.jpg')">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
