<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>GadgetZone</ion-title>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="https://i.imgur.com/DqZdvet.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Procesadores</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-card>
      <img alt="procesadores"
        src="https://media.spdigital.cl/thumbnails/products/1sew7rqf_79eaae73_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>
          Procesador AMD Ryzen™ 7 5800XT, 8 Núcleas, 16 Hilos, AM4</ion-card-title>
        <ion-card-subtitle>$399.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        El Procesador AMD Ryzen™ 7 5800XT cuenta con 8 núcleos y 16 hilos, ofreciendo un rendimiento superior para
        gaming y tareas exigentes. Compatible con el socket AM4, este procesador combina potencia y eficiencia,
        asegurando una experiencia de computación rápida y fluida para los usuarios más exigentes.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img alt="procesadores"
        src="https://media.spdigital.cl/thumbnails/products/ispzb71k_2e51a77b_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>
          Procesador Intel® Core™ i5-10400 6-Core 2.9 GHz (12M Cache, up to 4.30 GHz) LGA1200 65W</ion-card-title>
        <ion-card-subtitle>$162.770</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        El Procesador Intel® Core™ i5-10400 ofrece 6 núcleos y 12 hilos con una frecuencia base de 2.9 GHz, que puede
        aumentar hasta 4.30 GHz para un rendimiento acelerado. Con 12MB de caché y un TDP de 65W, este procesador
        compatible con el socket LGA1200 es ideal para tareas diarias, gaming y aplicaciones multitarea con eficiencia y
        potencia confiables.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img alt="procesadores"
        src="https://media.spdigital.cl/thumbnails/products/jyc8ynv8_f836da9b_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Procesador Intel® Core™ i9-14900, FCLGA1700, 36M Cache up to 5.80 GHz, 24 núcleos,
          65W</ion-card-title>
        <ion-card-subtitle>$914.560 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        El Procesador Intel® Core™ i9-14900 ofrece un rendimiento de vanguardia con 24 núcleos y una frecuencia máxima
        de hasta 5.80 GHz. Equipado con 36MB de caché y un TDP de 65W, este procesador FCLGA1700 es ideal para tareas
        intensivas, gaming de alto rendimiento y aplicaciones profesionales que requieren una potencia y velocidad
        excepcionales.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img alt="procesadores"
        src="https://media.spdigital.cl/thumbnails/products/c725qtut_80d80dd3_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Procesador AMD Ryzen™ 7 8700G, 8 Nucleos, 16 Hilos, Gráficos Radeon 780M, Socket
          AM5</ion-card-title>
        <ion-card-subtitle>$514.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        El Procesador AMD Ryzen™ 7 8700G ofrece un rendimiento excepcional con 8 núcleos y 16 hilos, ideal para gaming y
        multitarea intensiva. Equipado con gráficos Radeon 780M integrados y compatible con el socket AM5, este
        procesador proporciona potencia y eficiencia para una experiencia de computación fluida y versátil.
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>