<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="../../assets/icon/gadgetzone_logo-removebg-preview.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    