<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/teclados"></ion-back-button>
      </ion-buttons>
      <ion-title>Razer Huntsman Mini</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Razer Huntsman Mini</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Teclado Razer Huntsman Mini"
        src="https://media.spdigital.cl/thumbnails/products/snyhppat_a721dfd4_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Teclado Gamer Razer Huntsman Mini, 60%, Switch Purple, Inglés US</ion-card-title>
        <ion-card-subtitle>$109.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        El Teclado Gamer Razer Huntsman Mini es la elección perfecta para los jugadores que buscan un teclado compacto y
        de alto rendimiento. Con un diseño al 60%, es ideal para aquellos que desean maximizar su espacio de escritorio
        sin sacrificar funcionalidad. Equipado con los switches mecánicos Razer Purple, proporciona una respuesta táctil
        y audible que mejora la precisión y la satisfacción en cada pulsación. La distribución en inglés US ofrece una
        experiencia de escritura familiar y eficiente. Además, su construcción compacta y robusta lo hace perfecto para
        transportarlo a eventos y torneos. Con el Razer Huntsman Mini, obtienes un teclado que combina potencia, estilo
        y portabilidad en un solo paquete.
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>