<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/gabinetes"></ion-back-button>
      </ion-buttons>
      <ion-title>Thermaltake Smart 700W</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Thermaltake Smart 700W</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Fuente de Poder Thermaltake Smart 700W"
        src="https://media.spdigital.cl/thumbnails/products/maw61p4d_0b867802_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Thermaltake Smart 700W</ion-card-title>
        <ion-card-subtitle>$64.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          La fuente de poder Thermaltake Smart 700W ofrece un rendimiento sólido a un precio accesible. Con una potencia
          de 700W y certificación 80 Plus, esta fuente garantiza una energía estable y eficiente para tu PC de uso
          diario. Ideal para configuraciones de gama media, su diseño asegura un funcionamiento silencioso y confiable.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>