<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/audifonos-gamer"></ion-back-button>
      </ion-buttons>
      <ion-title>Logitech G335</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Logitech G335</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="audifonosgamer"
        src="https://media.spdigital.cl/thumbnails/products/wvwk9x87_25b20800_thumbnail_512.jpg" />
      <ion-card-header>
        <ion-card-title>Logitech G335</ion-card-title>
        <ion-card-subtitle>$59.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          Sumérgete en el juego con los audífonos Logitech G335. Equipados con un conector de 3.5mm, son compatibles con
          la mayoría de dispositivos. Su diseño de auricular completo en negro ofrece comodidad y estilo para largas
          sesiones de juego. Ideales para quienes buscan un sonido envolvente y un ajuste personalizado.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>

    </ion-card>
  </ion-content>
</div>