<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/procesadores"></ion-back-button>
      </ion-buttons>
      <ion-title>Placa placa-madre-msi-a520-m-apro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">MSI A520 M-A PRO</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <ion-router-link [routerLink]="['/placa-madre-msi-a520-m-apro']">
        <img alt="Placa Madre MSI A520 M-A PRO"
          src="https://media.spdigital.cl/thumbnails/products/udt3fqxu_27f2e082_thumbnail_512.jpg" />
        <ion-card-header>
          <ion-card-title>MSI A520 M-A PRO</ion-card-title>
          <ion-card-subtitle>$61.990 CLP</ion-card-subtitle>
        </ion-card-header>
      </ion-router-link>
      <ion-card-content>
        <p>
          La placa madre MSI A520 M-A PRO es una opción ideal para usuarios que buscan confiabilidad y rendimiento a un
          precio accesible. Con soporte para procesadores AMD Ryzen de 3ª generación, esta placa ofrece una excelente
          base para una PC versátil. Cuenta con ranuras para memoria DDR4 y conectividad PCIe 3.0, asegurando
          compatibilidad y velocidad en tus componentes.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>

    </ion-card>
  </ion-content>
</div>