<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/procesadores"></ion-back-button>
      </ion-buttons>
      <ion-title>placa placa-madre-gigabyte-z790-ud</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Placa Madre Gigabyte Z790 UD</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <ion-router-link [routerLink]="['/placa-madre-gigabyte-z790-ud']">
        <img alt="Placa Madre Gigabyte Z790 UD"
          src="https://media.spdigital.cl/thumbnails/products/pii2vjbr_7316916c_thumbnail_512.jpg" />
        <ion-card-header>
          <ion-card-title>Placa Madre Gigabyte Z790 UD</ion-card-title>
          <ion-card-subtitle>$270.460 CLP</ion-card-subtitle>
        </ion-card-header>
      </ion-router-link>
      <ion-card-content>
        <p>
          La Placa Madre Gigabyte Z790 UD ofrece características avanzadas y un gran rendimiento con soporte para las
          últimas tecnologías. Perfecta para quienes buscan construir un sistema robusto y duradero.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="addToCart('Placa Madre Gigabyte Z790 UD', 270460, 'https://media.spdigital.cl/thumbnails/products/pii2vjbr_7316916c_thumbnail_512.jpg')">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>
