<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="floating">Nombre del Producto</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Selecciona una categoría" required>
        <ion-select-option value="audifonos">Audífonos</ion-select-option>
        <ion-select-option value="teclados">Fuentes de poder</ion-select-option>
        <ion-select-option value="monitores">Gabinetes</ion-select-option>
        <ion-select-option value="procesadores">Memorias Ram</ion-select-option>
        <ion-select-option value="teclados">Monitores</ion-select-option>
        <ion-select-option value="monitores">Placas Madre</ion-select-option>
        <ion-select-option value="procesadores">Procesadores</ion-select-option>
        <ion-select-option value="monitores">Tarjetas de video</ion-select-option>
        <ion-select-option value="procesadores">Teclados</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagen del Producto (URL)</ion-label>
      <ion-input type="url" required></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" class="ion-margin-top">
      Agregar Producto
    </ion-button>
  </form>
</ion-content>
