ion-content {
  --background: #000;
}

.cart-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.cart-list {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  --min-height: 80px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.cart-item ion-thumbnail img {
  width: 100px;
  height: auto;
  max-height: 75px;
  object-fit: contain;
  border-radius: 5px;
}

.cart-item ion-label {
  margin-left: 10px;
  font-size: 14px;
}

.cart-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cart-item p {
  font-size: 14px;
  margin: 0;
  color: #777;
}

.total-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  border-radius: 10px;
}

.total-item ion-label h2 {
  margin: 0;
  font-size: 16px; 
  color: #000; 
}

.total-item ion-note {
  font-size: 16px; 
}

.total-item ion-note h2 {
  margin: 0;
  font-size: 16px; 
  color: #000; 
}

.finalize-button {
  margin-top: 10px;
}
