.cart-item {
  background-color: #f9f9f9; /* Fondo claro para los elementos del carrito */
  border-radius: 8px; /* Bordes redondeados */
  margin-bottom: 10px; /* Espaciado entre elementos */
  padding: 10px; /* Espaciado interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.product-name {
  font-size: 1.2rem; /* Aumentar tamaño del nombre del producto */
  font-weight: bold; /* Texto en negrita */
}

.product-price {
  color: #666; /* Color gris para el precio */
  font-size: 1rem; /* Tamaño del texto del precio */
}

.total-card {
  margin-top: 20px; /* Espacio arriba del total */
  padding: 15px; /* Espaciado interno */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.total-amount {
  font-size: 1.5rem; /* Tamaño más grande para el total */
  font-weight: bold; /* Negrita para el total */
  color: red; /* Color atractivo para el total */
}
