<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/paginainicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems" class="cart-item">
      <ion-thumbnail slot="start" class="product-thumbnail">
        <img [src]="item.imagen" alt="Producto">
      </ion-thumbnail>
      <ion-label class="product-info">
        <p class="product-name">{{ item.nombre_producto }}</p>
        <p class="product-quantity">Cantidad: {{ item.cantidad }}</p>
        <p class="product-price">
          Precio: <span class="price-value">${{ item.precio }}</span>
        </p>
      </ion-label>
      <div class="quantity-controls">
        <ion-button size="small" (click)="decreaseQuantity(item)">-</ion-button>
        <ion-button size="small">{{ item.cantidad }}</ion-button>
        <ion-button size="small" (click)="increaseQuantity(item)">+</ion-button>
      </div>
      <ion-button size="small" color="danger" slot="end" class="remove-btn" (click)="removeFromCart(item.id_producto)">
        Eliminar
      </ion-button>
    </ion-item>

    <ion-item class="total-item">
      <ion-label>
        <h2>Total</h2>
      </ion-label>
      <ion-note slot="end" class="total-amount">${{ getTotal() }}</ion-note>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-button expand="block" color="primary" (click)="goTocomprapage()">
      Confirmar Compra
    </ion-button>
  </ion-footer>
</ion-content>
