.cart-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  min-height: 120px; /* Aumentar el tamaño mínimo del card */
}

.product-thumbnail {
  width: 80px;
  height: 80px; /* Tamaño más grande de las imágenes */
}

.product-name {
  font-size: 1.4rem; /* Aumentar el tamaño del nombre del producto */
  font-weight: bold;
  color: #333; /* Mejor visibilidad */
  margin-bottom: 5px; /* Separar el nombre del precio */
}

.product-price {
  color: #666;
  font-size: 1.2rem;
}

.total-card {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.total-amount {
  font-size: 1.6rem;
  font-weight: bold;
  color: red;
}
