<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tarjetas-de-video"></ion-back-button>
      </ion-buttons>
      <ion-title>Gigabyte Nvidia® GeForce® RTX™ 4070 Ti SUPER</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Gigabyte Nvidia® GeForce® RTX™ 4070 Ti SUPER</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Tarjeta de Video Gigabyte Nvidia® GeForce® RTX™ 4070 Ti SUPER WINDFORCE OC" src="https://media.spdigital.cl/thumbnails/products/rwddzmal_161d7a72_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Gigabyte Nvidia® GeForce® RTX™ 4070 Ti SUPER WINDFORCE OC</ion-card-title>
        <ion-card-subtitle>$1.049.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          La Gigabyte Nvidia® GeForce® RTX™ 4070 Ti SUPER WINDFORCE OC ofrece 16GB de GDDR6X y un diseño optimizado para un rendimiento superior en cualquier escenario de juego.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>
