<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Gabinetes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Gabinetes</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/gabinete-gamercorsair-icue-4000']">
              <img alt="Gabinete Corsair iCue"
                src="https://media.spdigital.cl/thumbnails/products/88txvj8i_200d227b_thumbnail_512.png" />
              <ion-card-header>
                <ion-card-title>Gabinete Gamer Corsair iCue 4000X</ion-card-title>
                <ion-card-subtitle>$119.000 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/gabinete-gamer-kolink']">
              <img alt="Gabinete Kolink Void"
                src="https://media.spdigital.cl/thumbnails/products/6h2lh1by_22f3ee6b_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Gabinete Gamer Kolink void RBG</ion-card-title>
                <ion-card-subtitle>$49.570 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/gabinete-gamer-aerocool-shard']">
              <img alt="Gabinete Aerocool Shard"
                src="https://media.spdigital.cl/thumbnails/products/_wq4_3_m_0d4a84e2_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title>Gabinete Gamer Aerocool Shard</ion-card-title>
                <ion-card-subtitle>$89.990 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-router-link [routerLink]="['/gabinete-gamer-cooler-master-cmp520']">
              <img alt="Cooler Master CMP 520"
                src="https://media.spdigital.cl/thumbnails/products/9mtx0k9j_4b2c460e_thumbnail_512.jpg" />
              <ion-card-header>
                <ion-card-title> Gabinete gamer Cooler Master CMP 520</ion-card-title>
                <ion-card-subtitle>$64.490 CLP</ion-card-subtitle>
              </ion-card-header>
            </ion-router-link>
            <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>