<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/paginainicio"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-router-link [routerLink]="['/paginainicio']">
          <img class="icon" src="../../assets/icon/gadgetzone_logo-removebg-preview.png" alt="logo">
        </ion-router-link>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    

    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="6" *ngFor="let product of products">
          <ion-card>
            <!-- La imagen ahora actúa como un botón -->
            <img [src]="product.imagen" alt="Sin foto" (click)="verDetalles(product)" style="cursor: pointer;" />
            
            <ion-card-header>
              <ion-card-title>{{ product.nombre_producto }}</ion-card-title>
              <ion-card-subtitle>{{ product.precio | currency:'CLP' }}</ion-card-subtitle>
            </ion-card-header>
            
            <ion-button expand="full" color="secondary" (click)="verDetalles(product)">
              Ver más
            </ion-button>
            
            <ion-button expand="full" color="primary" (click)="addToCart(product)">
              Añadir al Carrito
            </ion-button>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    