<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/gabinetes"></ion-back-button>
      </ion-buttons>
      <ion-title>Seasonic VERTEX PX-1000</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="dark" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Seasonic VERTEX PX-1000</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Fuente de Poder Seasonic SEASONIC VERTEX PX-1000" src="https://media.spdigital.cl/thumbnails/products/2wmybndr_f314bfdd_thumbnail_512.png" />
      <ion-card-header>
        <ion-card-title>Seasonic VERTEX PX-1000</ion-card-title>
        <ion-card-subtitle>$254.990 CLP</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          La fuente de poder Seasonic VERTEX PX-1000 es una opción premium para quienes buscan eficiencia y estabilidad en sus sistemas de alto rendimiento. Con certificación 80 Plus Platinum, esta fuente asegura una energía limpia y eficiente, ideal para configuraciones avanzadas de gaming o estaciones de trabajo. Su diseño modular facilita la gestión de cables, manteniendo tu PC ordenada y con un flujo de aire óptimo.
        </p>
      </ion-card-content>
      <ion-button expand="full" color="primary">Añadir al Carrito</ion-button>
    </ion-card>
  </ion-content>
</div>

